<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lintao.blog.dao.mapper.TagMapper">

    <!--List<Tag> findTagsByArticleId(Long articleId);-->
    <select id="findTagsByArticleId" parameterType="long" resultType="com.lintao.blog.dao.pojo.Tag">
        select id,avatar,tag_name
        from ms_tag
        where id in
        (select tag_id from ms_article_tag where article_id=#{articleId})
    </select>
    <!--List<Long> findHostTagIds(int limit);-->
    <select id="findHostTagIds" parameterType="int" resultType="java.lang.Long">
        select tag_id
        from ms_article_tag
        group by tag_id
        order by count(article_id) desc
        limit #{limit}
    </select>
    <!--List<Tag> findTagsByTagIds(List<Long> tagIds);-->
    <select id="findTagsByTagIds" parameterType="list" resultType="com.lintao.blog.dao.pojo.Tag">
        select id,tag_name as tagName
        from ms_tag
        where id in
        <foreach collection="tagIds" item="tagId" separator="," open="(" close=")">
            #{tagId}
        </foreach>
    </select>
</mapper>